
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');


.header {
  height: 12vh;
  width: 100%;
  background-color: #49274a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: whitesmoke;
  font-size: 50px;
  font-family: 'Rammetto One', cursive;
}

.list{
  color: #49274a
}

.favorites{
  font-family: 'Rammetto One', cursive;
  color: #94698E;
}
